<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoT_wiki.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GoT_wiki.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IntegrationTesting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>allTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>travisUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>travisUnit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>671DCBE91D986AFC00457F95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671DCC051D986AFC00457F95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671DCC101D986AFC00457F95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>673986241D9DBCE100F3C00E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A12D681D9C3F3A0048E4AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A725B51D9E772B008D525E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A725CE1D9F3BDD008D525E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
