<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoT_wiki.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>671DCBE91D986AFC00457F95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671DCC051D986AFC00457F95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671DCC101D986AFC00457F95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
